* {
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #fceec8;
}

.container {
    width: 90%;
    margin: auto;
    padding-top: 100px;
    display: flex;
}

.left-content,
.right-content {
    flex-basis: 50%;
}

.left-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 0.5fr));
    grid-gap: 7rem;
}

.card {
    width: 300px;
    background-color: #9edef9;
    border-radius: 1rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .5);
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 15px;
}

.right-content {
    width: 50%;
    text-align: center;
    color: black;
    position: fixed;
    top: 100px;
    right: 10px;
}

.right-content img {
    margin: 2rem;
    width: 100px;
    height: 100px;
}

.right-content h1 {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 10px;
}

.abilities {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
}

.abilities .group {
    font-size: 12px;
    background: #b74555;
    color: white;
    border-radius: 10px;
    padding: 1em 2em;
    margin: 7px;
}

.base-stat {
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-group {
    display: flex;
    gap: 1em;
}

.btn-group button {
    outline: none;
    border: none;
    width: 150px;
    padding: 1em;
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color: #b74555;
    border-radius: 10px;
    cursor: pointer;
}